# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Django migrations
**/migrations/
!*/migrations/__init__.py

# Virtual environments
venv/
env/
ENV/
.venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and local databases
*.log
*.sqlite3

# Secret files
.env
*.secret
